// ==========IMPORT===============
@import 'var';
// ==========IMPORT===============
// =====COMMON===========
body {
  font-family: 'Montserrat';
}

.active {
  text-decoration: underline;
  color: $blue2;
}

// =====COMMON===========

